body {
  margin: 0;
  padding: 0;
  background: #ffeefa;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  text-align: center;

  animation: fadeIn 0.7s ease, pop 0.5s ease 0.2s;
}

.thank-img {
  width: 270px;
  border-radius: 14px;
  margin-bottom: 15px;
  animation: float 2s ease-in-out infinite;
}

h1 {
  margin: 0;
  font-size: 28px;
  color: #ff4fae;
  font-weight: 700;
}

.desc {
  margin-top: 10px;
  font-size: 16px;
}

.small {
  margin-top: 5px;
  color: #777;
  font-size: 14px;
}

/* Animations */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes pop {
  0% {transform: scale(0.7);}
  100% {transform: scale(1);}
}

@keyframes float {
  0%, 100% {transform: translateY(0);}
  50% {transform: translateY(-6px);}
}
